.about__main {
    * {
        margin: 0px;
    }

    padding-bottom: 20px;

    .about__title {
        display: flex;
        justify-content: center;
        padding-top: 70px;

        h2 {
            font-size: 40px;
        }
    }

    .about__text-block {
        font-size: 15px;
        text-align: center;
        padding-top: 10px;
    }

    .about__item {
        display: flex;
        justify-content: center;
    }

    .timeline {
        position: absolute;
        width: 4px;
        height: 487px;
        margin-top: 125px;
        background-color: #fff;
        text-align: center;
    }

    .sphere {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        background-color: #fff;
    }

    .about__year-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;


        p {
            width: 160px;
            text-align: center;
        }

        h3 {
            width: 160px;
            text-align: center;
            font-size: 35px;
        }

        .about__tablet-item {
            display: none;
        }

        .sphere-tablet {
            display: none;
        }
        
    }

    .about__baseline {
        display: none;
    }
}

@media (min-width: 767px) {

    .about__main {

        .about__item {
            display: none;
        }

        .about__timline-block {
            position: relative;
            display: flex;
            justify-content: space-around;
        }

        .timeline_tablet {
            width: 75%;
            height: 5px;
            border-radius: 12px;
            background-color: #fff;
            position: absolute;
            top: 129px;
            // left: 50px;
            text-align: center;
        }

        .about__year-block {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-content: space-around;
            // align-items: center;
            padding-top: 80px;
    
            .about__tablet-item {
                display: block;
            }

            h3 {
                display: none;
            }

            .sphere {
                display: none;
            }

            .sphere-tablet {
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 12px;
                background-color: #fff;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            p {
                width: 160px;
                height: 100px;
                margin: auto;
                // vertical-align: middle;
            }
            
        }

        .about__baseline {
            display: block;
            background-color: #fff;
            height: 5px;
            width: 100%;
            margin-top: 100px;
        }
    }
}

@media (min-width: 1024px) {
    .about__main {

        padding-bottom: 20px;

        .about__title {
            padding-top: 80px;

            h2 {
                font-size: 45px;
            }
        }

        .about__text-block {
            font-size: 20px;
            text-align: center;
            padding-top: 15px;
        }
        
        .about__year-block {

            h3 {
                font-size: 45px;
            }

            p {
                width: 200px;
                font-size: 20px;
            }
        }

        .about__year-block {

            .sphere-tablet {
                width: 15px;
                height: 15px;
                border-radius: 100px;
            }

        }

        .timeline_tablet {
            height: 7px;
            top: 141px;
        }

        .about__baseline {
            height: 6px;
        }
    }
}

@media (min-width: 1400px) {
    .about__main {

        padding-bottom: 20px;

        .about__title {
            padding-top: 200px;

            h2 {
                font-size: 50px;
            }
        }

        .about__text-block {
            font-size: 25px;
            text-align: center;
            padding-top: 20px;
        }
        
        .about__year-block {

            h3 {
                font-size: 50px;
            }

            p {
                width: 250px;
                font-size: 25px;
            }
        }

        .about__year-block {

            .sphere-tablet {
                width: 15px;
                height: 15px;
                border-radius: 100px;
            }

        }

        .timeline_tablet {
            height: 7px;
            top: 146px;
        }

        .about__baseline {
            margin-top: 170px;
            height: 6px;
        }
    }
}

@media (min-width: 1920px) {
    .about__main {

        padding-bottom: 25px;

        .about__title {
            padding-top: 250px;

            h2 {
                font-size: 55px;
            }
        }

        .about__text-block {
            font-size: 30px;
            text-align: center;
            padding-top: 25px;
        }
        
        .about__year-block {

            h3 {
                font-size: 55px;
            }

            p {
                width: 350px;
                font-size: 30px;
            }
        }

        .about__year-block {

            .sphere-tablet {
                width: 18px;
                height: 18px;
                border-radius: 100px;
            }

        }

        .timeline_tablet {
            height: 8px;
            top: 154px;
        }

        .about__baseline {
            margin-top: 170px;
            height: 6px;
        }
    }
}