.artemi__main {

    padding-top: 60px;

    * {
        margin: 0px;
    }

    .artemi__pictures {
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .artemi__photo {
        position: absolute;
    }

    .figure-tablet {
        display: none;
    }

    .artemi-tablet {
        display: none;
    }

    .artemi__create {
        padding-top: 18px;
    }

    .artemi__title {
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        font-family: 'Poppins-SemiBold', sans-serif;
        font-size: 48px;

    }

    .artemi__text {
        p {
            font-size: 20px;
        }
    }

    .artemi__button-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .button-drop {
        border-radius: 83px;
        padding: 15px 13px 15px 13px;
        color: #fff;
        font-family:  'Poppins-Medium',sans-serif;
        border: none;
        margin-top: 22px;
        cursor: pointer;
        text-align: center;
        inset: 0;
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 25%, #945DD6 50%, #6978D1 75%, #13ADC7 100%);
        animation: animate 20s linear infinite;
        background-size: 500%;

        p {
            font-size: 20px;
        }
    }

    .button-drop:hover {
        transform: scale(1.02);
    }

    .button-drop:active {
        transform: scale(0.98);
    }

    @keyframes animate {
        0%{
            background-position: 0 0;
        }
        0%{
            background-position: 500% 0;
        }
    }
}

@media (min-width: 767px) {

    .artemi__main {
        display: flex;
        flex-direction: row-reverse;
        align-items:center;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {

    .artemi__main {
        
        .figure-tablet {
            display: block;
            width: 500px;
        }

        .artemi-tablet {
            display: block;
            width: 400px;
        }

        .figure {
            display: none;
        }
    
        .artemi {
            display: none;
        }

    }
}

@media (min-width: 1920px) {

    .artemi__main {
        
        .figure-tablet {
            display: block;
            width: 700px;
        }

        .artemi-tablet {
            display: block;
            width: 600px;
        }

    }
}