footer {
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.footer__main {
    * {
        margin: 0px;
    }

    .footer__contacts{
        display: flex;
        justify-content: space-between;
        align-items:center;
        list-style: none;
        padding:20px 0 30px 0;
    }

    ul {
        padding: 0;
    }

    .mail {
        display: flex;
    }

    .text {
        padding-left: 5px;
    }

    .footer__portfolio-text {
        display: none;
    }

    .footer_by {
        display: none;
    }

    .linkedIn {
        padding-top: 4px;
    }
}

@media (min-width: 767px) {

    .footer__main {

        .mail {
            width: 250px;
        }

        .text {
            font-size: 20px;
        }
    }

}

@media (min-width: 1024px) {

    .footer__main {
        display: flex;
        justify-content: space-between;
        align-items:center;

        .footer__portfolio-text{
            display: block;
            text-align: center;
            font-size: 20px;
        }

        .footer_by {
            display: block;
            text-align: center;
            font-size: 15px;
        }


        .footer__contacts {
            width: 300px;
            justify-content: space-between;
            align-items:center;
            
            a {
                height: 27px;
            }
        }

        .text {
            display: none;
        }

        .mail {
            width: 50px;
        }

    }

}

@media (min-width: 1400px) {

    .footer__main {
        display: flex;
        justify-content: space-between;
        align-items:center;

        .footer__portfolio-text{
            display: block;
            text-align: center;
            font-size: 25px;
        }

        .footer_by {
            display: block;
            text-align: center;
            font-size: 20px;
        }


        .footer__contacts {
            width: 300px;
            justify-content: space-between;
            align-items:center;
            
            a {
                height: 27px;
            }
        }

        .text {
            display: none;
        }

        .mail {
            width: 50px;
        }

    }

}