.projects__main {

    .projects__title {
        display: flex;
        justify-content: center;
        padding-top: 70px;

        h2 {
            font-size: 40px;
        }
    }

    .swiper {
        z-index: 1;
    }

    .slide {
        text-align: center;
        box-shadow: 0px 0px 12px #FFFFFF;
        border-radius: 50px 0px;
        margin: 15px 25px 15px 25px;
        padding: 20px;
    }

    .slide-text {
        h4 {
            margin: 0;
            padding-top: 15px;
            padding-bottom: 10px;
            font-size: 20px;
        }

        p {
            margin: 0;
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }

    .slidder-button {
            
        border-radius: 83px;
        padding: 15px 13px 15px 13px;
        color: #fff;
        font-family:  'Poppins-Medium',sans-serif;
        border: none;
        margin-top: 20px;
        cursor: pointer;
        text-align: center;
        inset: 0;
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 25%, #945DD6 50%, #6978D1 75%, #13ADC7 100%);
        animation: animate 20s linear infinite;
        background-size: 500%;

        p {
            margin: 0;
            font-size: 15px;
        }
    }

    .slidder-button:hover {
        transform: scale(1.02);
    }

    .slidder-button:active {
        transform: scale(0.98);
    }

    .line {
        width: 160px;
        height: 2px;
        // background-color:antiquewhite;
        margin: auto;
        inset: 0;
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 25%, #945DD6 50%, #6978D1 75%, #13ADC7 100%);
        animation: animate 20s linear infinite;
        background-size: 500%;
    }

    @keyframes animate {
        0%{
            background-position: 0 0;
        }
        0%{
            background-position: 500% 0;
        }
    }
}