.projects__main {

    .projects__title {
        display: flex;
        justify-content: center;
        padding-top: 70px;

        h2 {
            font-size: 40px;
        }
    }
    
        /* Собственно сам слайдер */
    .slider{
        max-width: 80%;
        position: relative;
        box-shadow: 0px 0px 12px #FFFFFF;
        border-radius: 50px 0px;
        height: 300px;
        margin-bottom: 130px;
        margin: auto;
    }
    /* Картинка мастабируется по отношению к родительскому элементу */

    .slider .item img {
        // object-fit: cover;
        width: 80%;
        height: 134px;
        margin-top: 20px;
        margin-left: 10%;

        // width: 254px;
        // height: 134px;

        border-radius: 8px;
    }

    /* Кнопки вперед и назад */
    .slider .prev, .slider .next {
        cursor: pointer;
        position: absolute;
        top: 0;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }


    .slider .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }


    /* При наведении на кнопки добавляем фон кнопок */

    .slider .prev:hover,
    .slider .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    /* Линия */

    .line {
        position: absolute;
        width: 160px;
        height: 2px;
        left: -25%;
        background-color: rgba(51, 154, 203, 1);
        border-radius: 83px;
        margin-bottom:20px;
    }

    .slider__item-button {
        position: absolute;
        left: 4.5%;
        top: 115%;
    }

    .slider__item-button {
        position: absolute;
        border-radius: 83px;
        padding: 10px 13px 10px 13px;
        color: #fff;
        font-family:  'Poppins-Medium',sans-serif;
        border: none;
        margin-top: 22px;
        cursor: pointer;
        background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
        border-radius: 83px;
        text-align: center;
        left: -1%;
    }

    .slider__item-button:hover {
        
    }


    /* Заголовок слайда */
    .slideText {
        position: absolute;
        color: #fff;
        font-size: 20px;
        /* Выравнивание текста по горизонтали и по вертикали*/
        left: 50%;
        top: 170px;
        transform: translate(-50%, -50%);
        width: 100px;
        text-align: center;
        /* Тень*/
        text-shadow: 1px 1px 1px #000, 0 0 1em #000;

        p {
            position: absolute;
            font-size: 15px;
            margin:10px 0 0 0;
            left: 12.5%;
        }
    }


    /* Кружочки */

    .slider-dots {
    text-align: center;
    
    }
    .slider-dots_item{
        cursor: pointer;
        height: 5px;
        width: 5px;
        margin: 0 2px;
        background-color: rgba(148, 93, 214, 1);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .slider-dots_item:hover {
        background-color: rgba(19, 173, 199, 1);
    }


    /* Анимация слайдов */

    .slider .item {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
}