body {
    background-color:#0F1624;
    color:#fff;
    font-family: 'Poppins-SemiBold', sans-serif;
}

a {
    color:#fff;
    text-decoration: none;
}

span {
    color:#339ACB;
}

.container {
    margin:0px 15px 0px 15px;
}

